@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --font-size-contact-1: calc(8px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
  --font-size-contact-2: calc(11px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
  --font-size-contact-3: calc(15px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));

}

.contactModelContents{
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.8);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.contactPagecontainer{
  background: rgb(38,38,38);
  background: -o-linear-gradient(55deg, rgba(38,38,38,1) 0%, rgba(0,0,0,1) 50%, rgba(38,38,38,1) 100%);
  background: linear-gradient(35deg, rgba(38,38,38,1) 0%, rgba(0,0,0,1) 50%, rgba(38,38,38,1) 100%);
  width: 80%;
  border-radius: 20px;
  padding: 25px 40px 25px 40px;
}

.contactPageTop{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
}
.contactPageTitle{
  padding-left: 5%;
  font-size: 3.5vw;
}
.contactPageClose,input.Submit,select,option{
  cursor: pointer;
}
.contactForm{   
  display: -webkit-box;   
  display: -ms-flexbox;   
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.contactForm input,select,textarea{
  width:40%;
  margin: 2% 5% 2% 5%;
  height:40px;
  outline: none;
}
::-webkit-input-placeholder{
  color:white;
}
::-moz-placeholder{
  color:white;
}
:-ms-input-placeholder{
  color:white;
}
::-ms-input-placeholder{
  color:white;
}
::placeholder{
  color:white;
}
.contactPagecontainer input[type="text"],input[type="tel"],
input[type="email"],select,
textarea[type="textarea"]{
  background: transparent;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-width:thin;
  padding:10px;
  font-size: var(--font-size-contact-1);
  color: white;
  border-radius: 5px;
}
button[type="submit"] {
  background: transparent;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-width:thin;
  padding:5px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  font-size: var(--font-size-contact-1);
}

select{
  color:#657575;
  background: transparent;
  border-color: rgb(226, 226, 226);  
  border-style: solid;
  padding-left: 7px !important;
  padding: 0;
}

#option{
  background-color:rgb(38,38,38);
  color: white;
}
.contactFormSelect{
  color:white;
}

textarea{
  width: 100% !important;
  height: 80px;
}

form .button-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% 5% 2% 5%;
}
.button-area button{
  color: #fff;
  outline: none;
  font-size: var(--font-size-contact-1);
  cursor: pointer;
  border-radius: 5px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  width: 120px;
  height: 35px;
  background: transparent;
  border-color: rgb(226, 226, 226);  
}
.button-area button:hover{
  background: -o-linear-gradient(left, rgba(38,38,38,1) 0%, rgba(0,0,0,1) 50%, rgba(38,38,38,1) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(38,38,38,1)), color-stop(50%, rgba(0,0,0,1)), to(rgba(38,38,38,1)));
  background: linear-gradient(90deg, rgba(38,38,38,1) 0%, rgba(0,0,0,1) 50%, rgba(38,38,38,1) 100%);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color:white;
}
.button-area span{
  font-size: 16px;
  margin-left: 30px;
  display: none;
}

@media screen and (max-width:500px){
  .contactForm{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width:100%;
    
  }
  .contactForm input,select,textarea{
    width:100%;
    
  }
  .contactPageTitle{
    font-size: 5vw;
  }
  .contactPagecontainer{
    width:100%;
  }
  .button-area span{
    font-size: 12px;
    width:100%;
  
  }
  .contactPagecontainer input[type="text"],input[type="tel"],
  input[type="email"],select,
  textarea[type="textarea"],button[type="submit"]{
    font-size: var(--font-size-contact-2);
  }
  .fa-2x {
    font-size: 1.2em;
  }
  .button-area button{
    width: 90px;
    height: 30px;
  }
  .contactForm input, select, textarea,form .button-area {
    margin:2% 0%;
  }
  .contactPageTitle{
    padding-left: 0%;
  } 

}