@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --font-size-1: calc(25px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
  --font-size-2: calc(11px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
  --font-size-3: calc(40px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color:black;
    border-radius:10px;
}
::-webkit-scrollbar-thumb{
    height:5px;
    background-color: white;
    border-radius:10px;
}
body {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
div,h1,h2,h3,h4,h5,h6,button,input,select,textarea,span,strong{
    font-family: "Montserrat", sans-serif;
}

.menu a.gallery::after{
    width: 100%;
}

#Gallery_heading p{
    color: white;
    padding-top: 80px;
    padding-bottom: 2%;
    text-align: center;
    font-size:var(--font-size-3);
    font-weight : bold;
}

#Achievement_heading p{
    color: white;
    padding: 4%;
    text-align: center;
    font-size:var(--font-size-1);
    font-weight : bold;
}


#container-x{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-bottom: 20px;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
div.elements p{
    text-align: center;
    color:white;
    font-size:var(--font-size-2);
}

.image-x{
    width:100%;
    padding:30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-filter:grayscale(100%);
            filter:grayscale(100%);
}

.image-x:hover{
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter:grayscale(0%);
            filter:grayscale(0%);
    cursor: pointer;
}
.gallerycontent{
    width: 100%;
    padding: 0px 30px;
}
.elements{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
@media screen and (max-width:768px){
    
    #Gallery_heading{
        padding-top: 90px;
        font-size:35px;
        text-align: center;
    }
    #Achievement_heading{
        
        margin-top:2%;
        font-size:30px;
        
    }
    .image-x{       
         width:100%;
        padding:10px;
        
        
    }
    div.elements p{
        padding:2px;
        
    }
    #container-x{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
  
}

@media screen and (max-width:900px){
    #container-x{
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    }
    .elements-gap{
        display: none;
    }
    #container-x .elements:last-child img{
        padding: 20px 30px 25px 30px;
    }
}
@media screen and (max-width:550px){
#container-x{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto auto;
    padding:2% 6%;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    width: 100%; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    
}
.image-x:hover{
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-filter:grayscale(0%);
            filter:grayscale(0%);
    cursor: pointer;
}
#Achievement_heading{
        
    margin-top:2%;
    font-size:26px;
    
}
div.elements p{
    text-align: center;
    font-size: 15px;
        
}
}