@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root{
    --font-size-1: calc(14px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    --font-size-2: calc(20px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    --font-size-3: calc(25px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    --font-size-4: calc(60px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    --font-size-5: calc(20px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    --font-size-6: calc(15px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    --font-size-7: calc(7px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color:black;
    border-radius:10px;
}
::-webkit-scrollbar-thumb{
    height:5px;
    background-color: white;
    border-radius:10px;
}
body {
    background-color:black !important;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
div,h1,h2,h3,h4,h5,h6,button,input,select,textarea,span,strong{
    font-family: "Montserrat", sans-serif;
}
@font-face {
    font-family: 'abnes';
    src: url('../Fonts/abnes/abnes.ttf');
}
.homeTopContainer{
    width: auto;
    height: 100vh;
    position: relative;
    top:54px;
    overflow: hidden;
}

.video-bg{
    width:100%;
    height:100vh;
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
}
.image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position:absolute;
    top:30%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 1;
    width:60%;
}
.tospacelogo,.racetospacelogo{
    font-weight:500;
    font-family: abnes;
    text-align: center;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
.tospacelogo{
    font-size:4.3vw;
}
.racetospacelogo{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
    font-size:1.5vw;
    margin-top: 3%;
}

.Home-content-p {  
    text-align: center;
    font-weight: normal;
    font-size:var(--font-size-1);
    color: rgba(255, 255, 255, 1);
    letter-spacing: .5px;
    margin-top: 9%;
    font-style: italic;
    display: inline-block;
}

.Home-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 3%;
    padding-top: 7%;
    border-bottom: .20px solid white;
    overflow:hidden;
}

.Home-about-container{
    position: relative;
    text-align: center;
}
.Home-aboutImage{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 20px;
    opacity: 0.6;

}

.Home-about h1 {
    font-size: 80px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    font-weight: 400;
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.Home-about-p {
    font-size: var(--font-size-1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px;
}


.Home-support-register h1 {
    text-align: center;
    font-size: var(--font-size-3);
    /*font-weight:800;*/
    display: inline-block;
    padding-bottom:60px;
    padding-top:50px;
}

.Home-register h1{
    padding-top:40px;
}
.Home-support-register {
    margin:25px 20px;
    text-align:center;
}
.grid-support,.grid-register{
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
}
.Home-support,.Home-register{
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin:0px 60px;

}

.Home-register .grid-register{
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Home-support-img,.Home-register-img{
    width:auto;
}

.Home-support-img,.Home-register-img:nth-child(3) {
    width: 100px;
}

.Home-support-img,.Home-register-img:nth-child(4) {
    width: 100px;
}
.support-image img,.Home-register img{
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.support-image > img{
    -o-object-fit: cover;
       object-fit: cover;
    width:15vw;
    height: 100%;
    display: inline-block;
}
.Phytec-logo > img{
    width:12vw;
}
.Spazer-logo > img{
    width:17vw;
}
.register-image > img{
    height: 6.5vw;
    display: inline-block;
}

.Ind-Startup > img {
    width: 200px;
}

.TN-Startup > img {
    margin-top: 1em;
    height: 30px;
} 

.Home-support-register img{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);

}


.spazer-logo{
    -webkit-filter: grayscale(100%) invert(100%) !important;
            filter: grayscale(100%) invert(100%) !important;
}
/* .spazer-logo:hover{
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%) !important;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease !important;
}
.Home-support-register img:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
} */


.HomerocketImage{
    width:100%;
    height:80vw;
    margin-bottom: -23px;
    padding-top:50px;
}

.Home-rocket-container{
    position: relative;
    margin-top: 0;
    border: 0;
    border-color: transparent;
}
.Homerocketcontent{
    width: 100%;
    display: inline-block;
}
.Home-rocket-container p:nth-child(1){
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 2vw;
    font-weight:bold;
    width: 50%;
    margin: 0 10px;
    padding: 20px;
}
.Home-rocket-container p:nth-child(2){
    position: absolute;
    top: 87%;
    text-align: center;
    font-size: 3vw;
    font-weight:bold;
    width: 80%;
    margin: 0 20px;
    display:inline-block;
}
#Homerocket-button{
    display:inline-block;
    position: absolute;
    top:52%;
    left:60%;
    padding:0.35em 1.2em;
    outline: none;
    margin:0 0.3em 0.3em 0;
    border-radius:0.3em;
    text-decoration:none;
    font-weight:400;
    text-align:center;
    color: white;
    border: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    font-size: var(--font-size-7);
    background: rgba(255, 255, 255, 0.22);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
}
#Homerocket-button:hover{
    color:#000000;
    background-color:#FFFFFF;
    }

.contactbtn span{
    font-size: 4.5vw;
}
@media screen and (max-width:768px){
    .racetospacelogo{
        font-size:1.7vw;
    }
    .Home-about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .Home-about-p {
        padding-top:0px;

    }
    .Home-aboutImage{
        padding: 30px 35px;
        margin: 5px;
        padding-bottom: 0px;
    }
    .Home-support h1{
        font-size:var(--font-size-2) ;
    }

}

 
 

@media screen and (max-width:500px){
    .racetospacelogo{
        font-size: 2vw;
    }
    .Home-about h1{
        font-size: 50px;

    }
    .Home-about-p {
        padding:30px;
        padding-top:10px;
    }
    .Home-support-register h1 {
        padding-bottom:30px;
        padding-top:25px;
        font-size:var(--font-size-1);
    }
    .Home-support,.Home-register{
        margin:0px 40px;
    }
    .Homerocketcontent{
        top: 40%;
    }
    .support-image > img{
        -o-object-fit: cover;
           object-fit: cover;
        width:20vw;
        height: 100%;
        display: inline-block;
    }
    .Phytec-logo > img{
        width:16.5vw;
    }
    .dsl-logo > img,.Spazer-logo > img{
        width:20vw;
    }
    .register-image > img{
        height: 7vw;
        display: inline-block;
    }
    .Ind-Startup > img {
        width: 200px;
    }
    
    .TN-Startup > img {
        margin-top: 0.1em;
        height: 10px;
    }
    .grid-support, .grid-register{
        grid-column-gap:15px;
    }
    .HomerocketImage{
        padding-top:20px;
    }
    .Home-rocket-container p:nth-child(1) {
        top: 25%;
        left: 39%;
        width: 54%;
        margin: 0 0%;
        padding: 20px;
    }
    #Homerocket-button{
        left: 57%;
    }
    
}

@media screen and (max-width:30em){
    #Homerocket-button{
        display:block;
        margin:0.4em auto;
}
    #Homerocket-button:hover{
        border:5px solid black;
}
}
