@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --font-size-1: calc(11px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
  --font-size-2: calc(12px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
  --font-size-3: calc(30px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
  --font-size-4: calc(10px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width:5px;
}
::-webkit-scrollbar-track{
  background-color:black;
  border-radius:10px;
}
::-webkit-scrollbar-thumb{
  height:5px;
  background-color: white;
  border-radius:10px;
}

.menu a.mission::after{
    width: 100%;
}


body{
  background-image:url("../Images/Mission-background.png");
  background-position:bottom;
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  overflow-x: hidden !important; 
  color: white;
  background-color:black;
}

div,h1,h2,h3,h4,h5,h6,button,input,select,textarea,span,strong{
  font-family: "Montserrat", sans-serif;
}

.mission_Details{
  padding:0 0 0 85px;
}
.mission-title{
    font-size:var(--font-size-3);
    padding-top: 80px;
    display: inline-block;
    font-weight:700;
}
.indiansat_heading,.indiansatv2_heading,.indiansatv3_heading{
    padding: 35px 0 30px 0;
    font-size:var(--font-size-1);
}
.indiansat_subheading-1,
.indiansat_subheading-2,
.indiansat_subheading-3,
.indiansatv2_content,
.indiansatv3_content,.indiansatImages p,
.indiansatv3_content,.indiansatImages p
.indiansatv3_content{
    font-size:var(--font-size-2);
    font-weight: thin;
    color:rgb(197, 197, 197);
    line-height:1.2em;
}
.indiansat_subheading-1-1{
    margin: 20px;
}
.indiansatImages p{
    color:white;
    text-align:center;
}

.indiansat_Image{
    margin:5px;
    margin-right: 30px;
    max-width:40%;
    min-width:200px;
    height:auto;
    display: inline-block;
    border-radius:20px;
}
.indiansat_Container_Content{
    margin:20px;
}
.indiansat_Container,.indiansat_subheading-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack:space-between;
      -ms-flex-pack:space-between;
          justify-content:space-between;
}
.indiansat_subheading-2-2{
  margin-left: 40px;
}
.indiansat_subheading-3 .indiansat_subheading-3-1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.indiansatImages,.indiansatv2_Images{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
    margin: 60px;
    cursor:pointer;
    overflow: hidden;
}
.probe-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
}
.probe-1-image{
    width: 100%;
    height: auto;
}
.indiansatImage-1{
    width: 200px;
    height: 300px;
}

.indiansatImage-2{
    width: 450px;
    height: 250px;
}


.indiansatImage-1_content,.indiansatImage-2_content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}

.indiansatImage-1_content_para{
    margin-top:20px;
}
.indiansatv2_content,
.indiansat_subheading-3-2,
.indiansatv3_content{
    padding: 0 5% 0 0;
}
.indiansatImages img,.indiansatv2_Images img{
    -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
    border-radius:20px;

}
.indiansatv2_Images-1{
    width:450px;
    height: 230px;
}
.indiansatv2_Images-2{
    width:300px;
    height: 450px;
}

.indiansatImage-1 {
    max-width:15vw;
    height: auto;
    min-width: 90px;
}
.indiansatImage-2 {
    max-width: 30vw;
    height: auto;
    min-width: 150px;
}
.indiansatv2_Images-1 {
    max-width: 40%;
    height: auto;
    min-width: 100px;
}
.indiansatv2_Images-2 {
    max-width: 20%;
    height: auto;
    min-width: 90px;
}

.indiansatImages img:hover,.indiansatv2_Images img:hover{
    -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.indiansatv3_ImageContainer{
    display:inline-block;
    margin-bottom:40px;
    width:100%;
} 
.indiansatv3_Image{
    margin-top: 4%;
    margin-bottom: -45px;
}


@media screen and (max-width: 860px){
    .indiansat_Image{
        margin:20px auto 0 auto;
    }
    .probe-1{
        flex-direction:column;
    }
    .probe-1-image{
        max-width: 20%;
        height: auto;
        min-width: 90px;
    }
}


@media screen and (max-width:768px){
    .mission-title{
        padding-top:50px;
    }
    .indiansat_subheading-1-1{
        text-indent:-5%
    }
    .indiansat_heading,
    .indiansatv2_heading,
    .indiansatv3_heading {
        padding: 20px 0;

    }
    .indiansat_Container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .indiansatImage-1_content_para {
        font-size:var(--font-size-2);
    }
    .indiansatImages,.indiansatv2_Images {
        margin: 30px 30px 30px 0px;
    }
    .indiansat_Image,
    .indiansatImage-1,
    .indiansatImage-2,
    .indiansatv2_Images-1,
    .indiansatv2_Images-2{
        border-radius:10px !important;
    }
}


@media screen and (max-width:565px){
    .mission_Details{
        padding:0 0 0 35px;
}   
    .mission-title{
        padding-top:50px;
    }
    .indiansatImages,.indiansatv2_Images {
        margin: 20px 20px 20px 0px;
    }
}

@media screen and (max-width:490px){
    .indiansat_Container_Content{
        margin:5px;
    }
    .indiansatImage-1 {
        height: auto;
        min-width: 90px;
    }
    .indiansatImage-2 {
        width: 100%;
        height: auto;
        min-width: 150px;
    }
    .indiansatv2_Images-1 {
        width: 40%;
        height: auto;
        min-width: 100px;
    }
    .indiansatv2_Images-2 {
        width: 30%;
        height: auto;
        min-width: 100px;
    }
}


@media screen and (max-width:768px){
    .mission-title{
        padding-top:50px;
    }
    .indiansat_subheading-1-1{
        text-indent:-5%
    }
    .indiansat_heading,
    .indiansatv2_heading,
    .indiansatv3_heading {
        padding: 20px 0;

    }
    .indiansat_Container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .indiansatImage-1_content_para {
        font-size:var(--font-size-2);
    }
    .indiansatImages,.indiansatv2_Images {
        margin: 30px 30px 30px 0px;
    }
    .indiansat_Image,
    .indiansatImage-1,
    .indiansatImage-2,
    .indiansatv2_Images-1,
    .indiansatv2_Images-2{
        border-radius:10px !important;
    }
}


@media screen and (max-width:565px){
    .mission_Details{
        padding:0 0 0 35px;
}   
    .mission-title{
        padding-top:50px;
    }
    .indiansatImages,.indiansatv2_Images {
        margin: 20px 20px 20px 0px;
    }
}

@media screen and (max-width:490px){
    .indiansat_Container_Content{
        margin:5px;
    }
}

@media screen and (max-width:360px){
    .indiansat_subheading-2-2{
        margin-left:20px;
    }
    .indiansat_Image{
        min-width:200px;
    }
    .indiansat_Image{
        min-width:200px;
    }
}

@media screen and (max-width:320px){
    .mission_Details{
        padding:0 0 0 20px;
    } 
    .indiansat_subheading-2{
        font-size: var(--font-size-4);
    }
}