@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --font-size-1: calc(12px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    --font-size-2: calc(25px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    --font-size-3: calc(10px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    --font-size-4: calc(15px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    --font-size-5: calc(20px + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
    }
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color:black;
    border-radius:10px;
}
::-webkit-scrollbar-thumb{
    height:5px;
    background-color: white;
    border-radius:10px;
}

.menu a.service::after{
    width: 100%;
}


body {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
div,h1,h2,h3,h4,h5,h6,button,input,select,textarea,span,strong{
    font-family: "Montserrat", sans-serif;
}
#satelliteplatform_container,#LaunchPlatform_container,#HeliumBallonPlatform_container,#GroundStationPlatform_container{
    position: relative;
    overflow:hidden;
}

#satelliteplatform_heading{
    padding: 80px ;
    color: white;
    text-align: center;
    font-size:var(--font-size-2);
}
#Launchplatform_heading,#HeliumBalloon_heading,#GroundStation_heading{
    padding: 180px ;
    text-align: center;
    font-size:var(--font-size-2);
}


#fossa-satellite,#spacex,#HeliumBalloon,#GroundStation{
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   position: relative;
   -webkit-filter: grayscale(100%);
           filter: grayscale(100%);
}
#fossa-satellite{
    height:auto; 
    max-width:30%;
    min-width: 200px;
    padding-right: 0px;
}

#spacex{
    height:auto; 
    max-width:30%;
    min-width: 200px;
    padding-right:40px ;
}

#HeliumBalloon{
    height:19vw; 
    width:27vw;
   
   
}
#GroundStation{
    height:auto;
    max-width: 29%;
    min-width: 200px;
    padding-right:40px ;
}
#fossa-satellite:hover,#spacex:hover,#HeliumBalloon:hover,#GroundStation:hover  {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transition:.3s ease;
    -o-transition:.3s ease;
    transition:.3s ease;
    cursor: pointer;
}

#satelliteplatform_content,#Launchplatform_content,#HeliumBalloon_content,#GroundStation_content{
    font-size: var(--font-size-1);
    padding-right: 45px;
    padding-left: 45px;
    padding-right: 120px;
    padding-left: 70px;
}

#satelliteplatform,#HeliumBalloonPlatform,#Launchplatform,#GroundStationPlateform{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #090909;
}

#Launchplatform,#GroundStationPlateform{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
        -ms-flex-direction:row-reverse;
            flex-direction:row-reverse;
    
}

#GroundStationPlatform_container{
    padding-bottom: 50px;
}  


#service_page_container{
    padding: 0 35px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@media screen and (max-width:1700px){
    #satelliteplatform_content,#Launchplatform_content,#HeliumBalloon_content,#GroundStation_content{
        padding : 40px 35px;
    }
}


@media screen and (max-width:992px){
    #satelliteplatform_heading,#Launchplatform_heading,#HeliumBalloon_heading,#GroundStation_heading{
        padding: 10%;
    }
    #satelliteplatform_content,#Launchplatform_content,#HeliumBalloon_content,#GroundStation_content{

        padding-right: 20px;
        padding-left: 20px;
        font-size: var(--font-size-3);
    }
    #fossa-satellite{
        width:35%;

    }
    #spacex{
        width:40%;
    }
    #HeliumBalloon{
        height:19vw; 
        width:27vw;
    }
    #satelliteplatform_content,#Launchplatform_content,#HeliumBalloon_content,#GroundStation_content{
        
        padding-right: 35px;
        padding-left: 35px;
    }
    #GroundStationPlatform_container{
        padding-bottom: 50px;
    }   
}
@media screen and (max-width:768px){
    #satelliteplatform_heading,#Launchplatform_heading,#HeliumBalloon_heading,#GroundStation_heading{
        padding: 9%;
    }
    #GroundStation{
        width: 40%;
    }
     
}
@media screen and (max-width:768px){
    #satelliteplatform_heading,#Launchplatform_heading,#HeliumBalloon_heading,#GroundStation_heading{
        font-size: var(--font-size-2);
    }
   
    #satelliteplatform_content,#Launchplatform_content,#HeliumBalloon_content,#GroundStation_content{
      
        font-size: var(--font-size-3);
    }
    #fossa-satellite {
        width: 10%;
      
    }
    #spacex{
        width:10%;
        padding-right: 10px;
    }
   
    #HeliumBalloon{
        height:19vw; 
        width:27vw;
    }
    #satelliteplatform_content,#Launchplatform_content,#HeliumBalloon_content,#GroundStation_content{
        padding-right: 35px;
        padding-left: 35px;
    }
    #GroundStationPlatform_container{
        padding-bottom: 50px;
    }   
  
    #GroundStation{
        width: 20%;
        padding-right: 10px;
       
    }
    
}
@media screen and (max-width:665px){
    #Launchplatform_heading,#HeliumBalloon_heading,#GroundStation_heading{
        padding:80px 40px 30px 40px;
        font-size: var(--font-size-2);
    }
    #fossa-satellite,#spacex{
        height:200px; 
        width:350px;
    }
   
    #satelliteplatform_content,#Launchplatform_content,#HeliumBalloon_content,#GroundStation_content{
        font-size: var(--font-size-1);
        text-align: left;
        padding : 40px 5%;
    }
    #fossa-satellite,#spacex, #GroundStation{
        min-width: 90%;
    }
    #GroundStation {
        height: 200px;
        width: 850px;
    }
    #satelliteplatform_content,#Launchplatform_content,#HeliumBalloon_content,#GroundStation_content{
        padding-right: 30px;
        padding-left: 30px;
    }
    #GroundStationPlatform_container{
        padding-bottom: 50px;
    }   
    #HeliumBalloon{
        height:50vw; 
        width:80vw;

    }
     
    #satelliteplatform,#HeliumBalloonPlatform,#Launchplatform,#GroundStationPlateform{
      
        display: -webkit-box;
      
        display: -ms-flexbox;
      
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;  
    }   
      
}
@media screen and (max-width:570px){
    #satelliteplatform_heading{
        padding-bottom: 5%;
        padding-top:80px;
        font-size:25px;
    }
    #Launchplatform_heading,#HeliumBalloon_heading,#GroundStation_heading{
        padding-top: 10%;
        padding-bottom: 5%;
    }
    #fossa-satellite,#spacex,#GroundStation{
        height:auto;
        width:100%;
    }
    #HeliumBalloon{
        height:auto;
        width: 100%;
        font-size:var(--font-size-2);
        padding: 80px 20px 30px 20px;
    }
    #Launchplatform_heading,#HeliumBalloon_heading,#GroundStation_heading{
        padding:40px 40px 20px 20px;
        font-size:var(--font-size-2);
    }
   
  
    #satelliteplatform_content,#Launchplatform_content,#HeliumBalloon_content,#GroundStation_content{
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom:40px;
        text-align: left;
        width: 100%;
        padding: 30px 5%;
        font-size: var(--font-size-1);
    }
    #HeliumBalloon{
        min-width: 20%;
    }
}
@media screen and (max-width:350px){
    #satelliteplatform_heading,#Launchplatform_heading,#HeliumBalloon_heading,#GroundStation_heading{
        font-size: var(--font-size-5);
    }    
}
